.emptyCard {
  display: grid;
  grid-template-rows: 1fr;
  background-color: var(--green);
  border-radius: 4px;
  padding-right: 0;
}

.emptyCard__red {
  background-color: var(--red);
}

.emptyCard__text {
  padding-bottom: 6px;
}

@media only screen and (min-width: 1224px) {
  .emptyCard {
    display: flex;
    width: 455px;
    grid-template-rows: unset;
    grid-template-columns: unset;
    background-color: unset;
    padding: unset;
  }

  .emptyCard__text {
    padding-bottom: unset;
  }

  .hyphen {
    width: 160px;
  }

  .hyphen_start {
    text-align: start;
  }
  
  .hyphen_end {
    text-align: end;
  }
}

.emptyCard__timer {
  display: flex;
  padding-top: 16px;
}

.timer__img {
  margin-right: 0.572em;
  width: 16px;
  height: 16px;
}
