.ThemeChanger {
    display: grid;
    margin-top: var(--items--gap);
    gap: var(--items--gap);
    width: 455px;
}

.ThemeChanger__changer {
    display: grid;
    align-content: space-between;
    align-items: center;
    grid-template-columns: 1fr 0.1fr;
    padding: 16px 20px;
    background-color: var(--green);
}

.ThemeChanger__input {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.ThemeChanger__input:checked + .ThemeChanger__checkbox {
    background: var(--theme--icon);
    width: 25px;
    height: 20px;
}