.ThemeChanger {
    display: grid;
    margin-top: var(--items--gap);
    gap: var(--items--gap);
}

.ThemeChanger__changer {
    display: grid;
    align-content: space-between;
    align-items: center;
    grid-template-columns: 1fr 0.1fr;
    padding: 13px 20px;
    background-color: var(--green);
    cursor: pointer;
    border-radius: 4px;
}

.ThemeChanger__input {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.ThemeChanger__input:checked + .ThemeChanger__checkbox {
    background: var(--theme--icon);
    width: 25px;
    height: 20px;
}

@media only screen and (min-width: 1224px) {
    .ThemeChanger {
        margin-top: 40px;
        width: 455px;
    }
}