@media only screen and (max-width: 1224px) {
    .scroller-container {
        overflow: hidden;
        margin: 0 -10px 10px -10px;
    }

    .DaysCarousel {
        display: inline-block;
        min-width: 100%;
        padding: 10px;
    }

    .DayItem {
        width: 50px;
        height: 50px;
        color: var(--green);
        border: 1px solid var(--green);
        border-radius: 25px;
        display: grid;
        align-items: center;
        text-align: center;
    }

    .DayItem_everyone {
        display: none;
    }

    .container-wrapper {
        overflow-x: scroll;
        overflow-y: hidden;
        margin-bottom: -30px;
        padding-bottom: 30px;
    }

    .DaysCarousel-wrap {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: var(--carousel--gap);
    }
}

@media only screen and (min-width: 1224px) {
    .DaysCarousel {
        display: flex;
        margin-bottom: 30px;
    }

    .DayItem {
        min-width: 95px;
        height: 41px;
        border: 1px solid var(--green);
        box-sizing: border-box;
        border-radius: 4px;
        padding: 10px 24px;
        color: var(--green);
        display: flex;
        align-items: center;

        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
        text-align: center;
        cursor: pointer;
    }

    .DayItem + .DayItem {
        margin-left: 12px;
    }
}

.DayItem_active {
    background-color: #429C97;
    color: var(--current--theme--bg);
}