.scroller-container {
    width: 100%;
    overflow: hidden;
}

.DaysCarousel {
    display: grid;
    grid-template-columns: repeat(6, 50px);
    grid-gap: 8px;
    max-height: 70px;
    max-width: 350px;
    overflow-x: auto;
    padding-bottom: 20px;
    margin-bottom: -20px;
}

.DayItem {
    color: #429C97;
    display: grid;
    align-items: center;
    width: 48px;
    height: 48px;
    border: 1px solid #429C97;
    border-radius: 25px;
    margin: 10px 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    text-align: center;
    cursor: pointer;
}

.DayItem_active {
    background-color: #429C97;
    color: #FFFFFF;
}