@media only screen and (max-width: 1224px) {
    .scroller-container {
        width: 100%;
        overflow: hidden;
        margin-bottom: 10px;
    }

    .DaysCarousel {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: var(--carousel--gap);
        max-height: 70px;
        max-width: 350px;
        overflow-x: auto;
        padding-bottom: 20px;
        margin-bottom: -20px;
    }

    .DayItem {
        width: 50px;
        height: 50px;
        color: var(--green);
        border: 1px solid var(--green);
        border-radius: 25px;
        display: grid;
        align-items: center;
        text-align: center;
    }
}

@media only screen and (min-width: 1224px) {
    .DayItem {
        color: var(--green);
        display: grid;
        align-items: center;
        width: 48px;
        height: 48px;
        border: 1px solid var(--green);
        border-radius: 25px;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
        text-align: center;
        cursor: pointer;
    }

    .DaysCarousel {
        display: flex;
        gap: 12px;
        margin-bottom: 30px;
    }

    .DayItem {
        width: 100%;
        height: 41px;
        border: 1px solid var(--green);
        box-sizing: border-box;
        border-radius: 4px;
        padding: 10px 24px;
    }
}

.DayItem_active {
    background-color: #429C97;
    color: #FFFFFF;
}