.MenuItem {
    display: grid;
    grid-template-rows: 1fr;
    width: 100%;
    padding: 16px 20px;
    text-align: start;
    border-radius: 4px;
    background-color: var(--green);
    cursor: pointer;
}

@media only screen and (min-width: 1224px) {
    .MenuItem {
        padding: 17px 20px;
    }
}
