.Input__message,
textarea {
  margin: 0;
}

.developers__items {
  display: grid;
  gap: 10px;
  margin-top: 20px;
}

@media only screen and (min-width: 1224px) {
  .developers__items {
    margin-top: 40px;
  }
}
