.Footer {
    display: none;
}

@media only screen and (min-width: 1224px) {
    .Footer {
        display: block;
        margin-top: 80px;
        padding-bottom: 20px;
        align-self: end;
    }
}