.ExportButton {
    display: grid;
    grid-template-rows: 1fr;
    margin-bottom: var(--items--gap);
    padding: 16px 20px;
    text-align: center;
    border-radius: 4px;
    background-color: var(--green);
    cursor: pointer;
}

.ExportField {
    display: flex;
    border: 1px solid var(--gray);
    border-radius: 4px;
    color: var(--gray);
    cursor: pointer;
    padding: 16px 0 16px 25px;
}