.FavoriteList {
    display: grid;
    gap: var(--items--gap)
}

.FavoriteList_item__context {
    margin: 0;
    padding: 16px 20px;
    line-height: 0;
    border: none;
    background: transparent;
}

.FavoriteList_item {
    max-width: 455px;
}
