.popUp {
    position: fixed;
    bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--green);
    min-width: 455px;
    height: 5.59%;
    border-radius: 4px;
}

@media only screen and (min-width: 1224px) {
    .popUp {
        max-width: 455px;
        bottom: 40px;
    }
  }
  