.popUp {
    position: fixed;
    bottom: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--green);
    width: calc(100% - 20px);
    padding: 10px 43px;
    max-width: 455px;
    border-radius: 4px;
    box-sizing: border-box;
}

@media only screen and (min-width: 1224px) {
    .popUp {
        bottom: 120px;
    }
}
  