.emptyFavorites__text_info {
    margin-bottom: 10px;
}

.favorites__completed {
    display: grid;
    gap: var(--items--gap)
}

.FavoriteList_item {
    display: flex;
    justify-content: space-between;
    background-color: var(--green);
    border-radius: 4px;
    cursor: pointer;
}

.satellite {
    width: 100px;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 20px;
}

@media (min-width: 1224px), print {
    .emptyFavorites__text_info {
        margin-bottom: 20px;
    }

    .favorites__completed {
        margin-top: 40px;
    }

    .favorites__empty {
        margin-top: 40px;
        max-width: 455px;
    }

    .satellite {
        width: 150px;
        height: 150px;
        margin-top: unset;
        margin-bottom: 40px;
    }
}