
body {
    font-family: Roboto;
    margin: 0 10px;
    margin-bottom: 65px;
}

.Link {
    text-decoration: none;
}

h1 {
    font-size: 18px;
    font-weight: 700;
    color: #7B8685;
}

.grayText{
    font-size: 14px;
    color: #7B8685;
}

p, h1, h2 {
    margin: 0;
    padding: 0;
}

.text-bold--large {
    /* R-bold-18 */
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 120%;
    color: #133533;
}

.text-regular--small {
    /* R-regular-14 */
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 130%;
}

.text-regular--medium {
    /* R-regular-16 */
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
}

.text-medium--medium {
    /* R-medium-16 */
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
}
.text-medium--small {
/* R-medium-14 */
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
}

.text-gray {
    color: #7B8685
}

.text-white {
    color: #FFFFFF
}