html {
    --bg--dark--theme: #09201E;
    --bg--light--theme: #FFFFFF;
    --menu--txt--light--theme: #133533;
    --rasp--text-light--theme: #FFFFFF;
    --txt--dark--theme: #CDCDCD;
    --theme--light--icon: url("img/done_light.svg");
    --theme--dark--icon: url("img/done_dark.svg");
    --gray: #7C8786;
    --green: #429C97;
    --red: #C15555;
    --items--gap: 10px;
    --carousel--gap: 8px;
    /*По умолчанию начинаем со светлой темы*/
    --current--theme--rasp--txt: var(--rasp--text-light--theme);
    --current--theme--menu--txt: var(--bg--light--theme);
    --current--theme--bg: var(--bg--light--theme);
    --theme--icon: var(--theme--light--icon);
}

a {
    text-decoration: none;
}

p, h1, h2 {
    margin: 0;
    padding: 0;
}

.fullWidth {
    width: 100%;
}

/*Десктопы*/
@media only screen and (min-width: 1224px) {
    h2 {
        margin-bottom: 40px;
    }

    body {
        height: 100vmin;
        margin: unset;
        font-family: Roboto;
        background-color: var(--current--theme--bg);
        background-image: url("img/bg-decorative_vertical.svg"), url("img/bg-decorative_horizontal.svg");
        background-position: top left, bottom right;
        background-repeat: no-repeat;

        /*background-image: url("./img/bg-decorative_horizontal.svg"), url("./img/bg-decorative_horizontal.svg");*/
        /*background-position: top 220px right 220px, top 662px right 410px;*/
        /*background-repeat: no-repeat;*/
    }

    .App {
        display: grid;
        z-index: 100;
        height: 95vh;
        padding: 40px 155px 0 165px;
    }

    .NavigationBar {
        justify-self: end;
    }

    .content_info {
        max-width: 455px;
    }

    .text-bold--large {
        /* R-bold-18 */
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 120%;
    }

    .text-bold--header {
        /* R-bold-30 */
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 120%;
    }

    .text-regular--small {
        /* R-regular-16 */
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
    }

    .text-regular--medium {
        /* R-regular-16 */
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 130%;
    }

    .text-medium--medium {
        /* R-medium-16 */
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
    }

    .text-medium--small {
        /* R-medium-14 */
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 130%;
    }
}

/*Мобилки*/
@media only screen and (min-width: 320px) and (max-width: 1224px) {
    h2 {
        margin-bottom: 10px;
    }

    body {
        font-family: Roboto;
        margin: 11px 10px 65px;
        background-color: var(--current--theme--bg);
        width: auto;
    }

    .text-bold--header {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 130%;
    }

    .text-bold--large {
        /* R-bold-18 */
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 120%;
    }

    .text-regular--small {
        /* R-regular-14 */
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 130%;
    }

    .text-regular--medium {
        /* R-regular-16 */
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 130%;
    }

    .text-medium--medium {
        /* R-medium-16 */
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
    }

    .text-medium--small {
        /* R-medium-14 */
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 130%;
    }
}

@media (prefers-color-scheme: light) {
    body {
        --current--theme--menu--txt: var(--menu--txt--light--theme);
        --current--theme--bg: var(--bg--light--theme);
        --theme--icon: var(--theme--light--icon);
    }
}

@media (prefers-color-scheme: dark) {
    body {
        --current--theme--menu--txt: var(--bg--light--theme);
        --current--theme--bg: var(--bg--dark--theme);
        --theme--icon: var(--theme--dark--icon);
    }
}

.LIGHT_THEME {
    --current--theme--rasp--txt: var(--rasp--text-light--theme);
    --current--theme--menu--txt: var(--menu--txt--light--theme);
    --current--theme--bg: var(--bg--light--theme);
    --theme--icon: var(--theme--light--icon);
}

.DARK_THEME {
    --current--theme--menu--txt: var(--txt--dark--theme);
    --current--theme--bg: var(--bg--dark--theme);
    --theme--icon: var(--theme--dark--icon);
}

.textColor {
    color: var(--current--theme--menu--txt);
}

.raspTextColor {
    color: var(--current--theme--bg);
}
