.SearchDescription {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.SearchDescription__hide {
    display: none;
}

.SearchDescription__backtrace {
    display: none;
}

@media (min-width: 1224px), print {
    .SearchDescription {
        margin-bottom: 20px;
    }

    .SearchDescription__backtrace {
        display: flex;
        align-self: flex-start;
        flex-direction: row;
        cursor: pointer;
        color: var(--green);
    }

    .SearchDescription__backtrace img {
        margin-right: 8px;
    }

}