.SearchDescription {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.SearchDescription__backtrace {
    display: flex;
    gap: 8px;
    flex-direction: row;
    cursor: pointer;
    color: var(--green);
}

.SearchDescription__hide {
    display: none;
}

@media only screen and (max-width: 1224px) {
    .SearchDescription__backtrace {
        display: none;
    }

    .SearchDescription {
        margin-bottom: 10px;
    }
}