.Schedule {
    max-height: 100%
}

.schedule-item {
    background-color: var(--green);
}

.schedule-item__Single {
    max-width: 100%;
    display: grid;
    margin-bottom: 0.625em;

}

@media only screen and (min-width: 1224px) {
    .schedule-item {
        grid-template-columns: 255px 1fr;
        align-content: center;
        background-color: unset;
        padding: 24px 0;
        border-bottom: 1px dashed var(--gray);
    }

    .schedule-item:last-child {
        border-bottom: unset;
    }

    .schedule-item__Double {
        display: grid;
        grid-template-columns: 255px 1fr;
    }
}
@media only screen and (min-width: 320px) and (max-width: 1224px)  {
    .schedule-item {
        padding-top: 10px;
        border-radius: 4px;
    }
    .Schedule {
        display: grid;
        grid-gap: 10px
    }
}