.pair__item_subject {
  order: 1;
  margin-bottom: 6px;
}

.pair__item_subgroup {
  order: 3;
}

.pair__item_teacher {
  order: 2;
  margin-bottom: 6px;
}

@media only screen and (min-width: 1224px) {
  .pair__item_teacher {
    margin-bottom: unset;
  }

  .pair__item_subject {
    order: 1;
  }

  .pair__item_subgroup {
    order: 2;
  }

  .pair__item_teacher {
    order: 3;
    margin-bottom: unset;
    width: 160px;
    text-align: start;
  }

  .item__main {
    min-width: 455px;
  }
}
