.AppHeader {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.SearchTittle img {
    display: none;
}

.SearchTittle {
    display: flex;
    margin: 0;
    cursor: pointer;
}

.SearchTittle_text {
    white-space: nowrap;
}

.SearchTittle__title {
    padding: 11px 0;
}

.TittleType {
    display: none;
}

@media (min-width: 1224px), print {
    .AppHeader {
        margin-bottom: 60px;
    }

    .SearchTittle img {
        display: block;
        margin-right: 10px;
    }

    .TittleType {
        display: block;
    }
}

@media print {
    .AppHeader {
        display: none;
    }
}