.schedule-item {
    margin-bottom: 10px;
    border-radius: 4px;
}

.schedule-item__Double {
    background-color: red;
    max-width: 100%;
    display: grid;
}

.schedule-item__Single {
    background-color: #1ea7fd;
    display: grid;
}