.SearchButtons {
    display: flex;
    flex-wrap: nowrap;
    gap: var(--items--gap)
}

.SearchButtons a {
    display: grid;
    width: 50%;
    height: 50px;
    align-items: center;
    align-content: center;
    background-color: #429C97;
    text-align: center;
    border-radius: 4px;
    padding: 2px 0;
    cursor: pointer;
}

.SearchHelper {
    margin-top: 40px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 1224px) {
    .SearchHelper {
        margin-bottom: 10px;
    }

    .SearchButtons {
        display: flex;
        flex-wrap: nowrap;
        gap: var(--items--gap)
    }
}

.SearchHide {
    display: none;
}