.CourseType {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.CourseType p {
    margin-bottom: 10px;
}

.CourseType a + a {
    margin-top: var(--items--gap);
}

@media (min-width: 1224px), print {

    .CourseType p {
        margin-bottom: 20px;
    }

}