.context {
  display: grid;
  grid-template-columns: 1.2fr 0.5fr;
}

.context_aud {
  display: grid;
  padding: 0 0.625em 1em 0.625em;
}



.context {
  padding: 0 0.625em 1em 0.625em;
}

.context__timer {
  margin: 0 0.625em 0.75em 0.625em;
  display: flex;
}

.empty {
  display: none;
}

.context__rightInfo {
  display: grid;
  justify-items: end;
  align-items: start;
}

.context__timer_svg {
  margin-right: 8px;
  width: 16px;
  height: 16px;
}

.context__lastStr {
  display: flex;
  justify-content: space-between;
}

.context_unactive {
  opacity: 0.5;
}

.context__subject, .context__underSubject {
  margin-bottom: 6px;
}

.subject__single {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.diff__timer {
  margin: 0 0.625em 0.75em 0.625em;
  display: flex;
  justify-content: space-between;
}

.diff_timer_pair,
.diff__timer_dif {
  display: flex;
}

  .underSubject__double, .leftInfo__double, .subject__double {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .dopInfo {
    text-align: end;
  }

@media only screen and (min-width: 1224px) {
  .context_aud .context__leftInfo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .dopInfo {
    text-align: unset;
  }
  
  .context_aud .context__leftInfo .context-under {
    text-align: end;
  }


  .underSubject__double, .leftInfo__double, .subject__double {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: unset;
    text-align: end;
  }

  .context__leftInfo {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: 1fr 0.5fr 0.5fr;
    gap:30px;
  }

  .context__timer {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: start;
  }
  .context__timer_svg {
    padding: 4px 0;
  }

  .context__underSubject {
    text-align: left;
  }

  .context__subject {
    text-align: start;
    margin-bottom: unset;
    min-width: 445px;
  }

  .context__rightInfo {
    display: grid;
    justify-items: end;
    align-items: start;
  }

  .diff__timer {
    margin: 0 0.625em 0.75em 0.625em; 
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 6px;
  }

  .diff_timer_pair,
  .diff__timer_dif {
    display: flex;
  }
}