.context {
    display: grid;
    grid-template-columns: 1.2fr 0.5fr;
}

@media only screen and (min-width: 1224px) {
    .context {
        padding: 1em 0;
    }

    .context__leftInfo {
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: 400px auto;
    }

    .context__rightInfo {
        align-items: start;
    }

    .context__timer {
        display: grid;
        grid-template-columns: auto 1fr;
        padding-top: 1em;
        align-items: start;
    }
    .context__timer img {
        padding: 4px 0;
    }
}

@media only screen and (min-width: 320px) and (max-width: 1224px) {
    .context {
        padding: 0 0.625em 1em 0.625em;
    }

    .context__underSubject {
        margin-top: 0.4285em;
    }

    .context__rightInfo {
        align-items: end;
    }

    .context__timer {
        margin: 0.625em 0.625em 0.75em 0.625em;
        display: flex;
        align-items: center;
    }
}

.empty {
    display: none;
}

.context__rightInfo {
    display: grid;
    justify-items: end;
}


.context__timer img {
    margin-right: 0.5em;
    width: 16px;
    height: 16px;
}

.context__lastStr {
    display: flex;
    justify-content: space-between;
}

.context_unactive {
    opacity: 0.5;
}

.context-under {
    margin-top: 0.4285em;
}