html,body {
    overflow-x: hidden;
}

body {
    font-family: Roboto;
    margin: 0 10px;
    margin-bottom: 65px;
}

.Link {
    text-decoration: none;
}

h1 {
    font-size: 18px;
    font-weight: 700;
    color: #7B8685;
}

.grayText{
    font-size: 14px;
    color: #7B8685;
}

p, h1, h2 {
    margin: 0;
    padding: 0;
}