.context {
    margin: 0 10px 16px 10px;
    display: grid;
    grid-template-columns: 1fr 0.1fr;
}

.context__rightInfo {
    display: grid;
    justify-items: end;
    align-items: end;
}

.context__timer {
    margin: 10px 10px 12px 10px;
    display: flex;
}

.context__timer img{
    margin-right: 8px;
}

.context__subject {
    margin-bottom: 6px;
}

.context__underSubject {
    margin-bottom: 6px;
}

.context__lastStr {
    display: flex;
    justify-content: space-between;
}

.context_unactive {
    opacity: 0.5;
}