.schedule-item {
    background-color: #429C97;
    max-width: 100%;
    display: grid;
    margin-bottom: 10px;
    border-radius: 4px;
}

.schedule-item__numerator {
    /*border-bottom: 1px dashed #FFFFFF;*/
    /*opacity: 0.5;*/
}

.splitter {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #FFFFFF;
    opacity: 0.5;
    margin-bottom: 16px;
}