.RaspHeader {
    display: grid;
    background-color: var(--current--theme--bg);
    grid-template-columns: 41px 1fr;
}

.header__text_title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.favorites_Logo {
    cursor: pointer;
}

.Header_Text {
    display: grid;
    align-items: center;
    align-content: center;
    grid-template-columns: 1fr 0.1fr;
}

.RaspHeader h2 {
    margin: 0.61111em 0 0.61111em 0.278em;
}

.RaspHeader p {
    margin: 0.75em 0;
}

.Header_Logo {
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 10px 10.5px;
    margin-left: -10.5px;
}
.RaspHeader {
    margin-bottom: 10px;
    align-content: center;
    align-items: center;
}

@media only screen and (min-width: 1224px) {
    .RaspHeader {
        display: flex;
        align-items: center;
        gap: 40px;
        margin-bottom: 30px;
    }

    .RaspHeader_date, .RaspHeader_favorites, .RaspHeader_PDF {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .date_calendar {
        width: 20px;
        height: 20px;
    }

    .favorites_Logo {
        width: 21px;
        height: 20px;
    }

    .PDF_icon {
        width: 16px;
        height: 20px;
    }

    .RaspHeader_favorites, .RaspHeader_PDF {
        cursor: pointer;
    }

    .Header_Text {
        margin-bottom: 40px;
    }

    .Header_Logo {
        padding: unset;
        margin-left: unset;
    }
}