.RaspHeader {
    display: grid;
    background-color: var(--current--theme--bg);
    grid-template-columns: 31px 1fr;
    margin-bottom: 10px;
    align-content: center;
    align-items: center;
}

.header__text_title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.favorites_Logo {
    cursor: pointer;
}

.Header_Text {
    display: grid;
    align-items: center;
    align-content: center;
    grid-template-columns: 1fr 0.1fr;
}

.Header_Logo {
    width: 41px;
    box-sizing: border-box;
    margin-left: -10px;
    padding: 10px;
}

@media (min-width: 1224px), print {
    .RaspHeader {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
    }

    .RaspHeader div + div,
    .RaspHeader div + a{
        margin-left: 40px;
    }

    .RaspHeader_date,
    .RaspHeader_favorites,
    .RaspHeader_PDF {
        display: flex;
        align-items: center;
    }

    .RaspHeader img {
        margin-right: 8px;
    }

    .date_calendar {
        width: 20px;
        height: 20px;
    }

    .favorites_Logo {
        width: 21px;
        height: 20px;
    }

    .PDF_icon {
        width: 16px;
        height: 20px;
    }

    .printer_icon {
        width: 20px;
        height: 18px;
    }

    .RaspHeader_favorites,
    .RaspHeader_PDF {
        cursor: pointer;
    }

    .Header_Text {
        margin-bottom: 40px;
    }

    .Header_Logo {
        padding: unset;
        margin-left: unset;
    }
}

@media print {
    .RaspHeader {
        display: none;
    }

    .Header_Text {
        margin: 0;
        margin-bottom: 30px;
    }
}