.RaspHeader {
    display: grid;
    background-color: var(--current--theme--bg);
    grid-template-columns: 41px 1fr;
}

.header__text_title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.Header_Logo {
    padding: 0.75em 0.625em;
    cursor: pointer;
}

.Header_Text {
    display: grid;
    align-items: center;
    align-content: center;
    grid-template-columns: 1fr 0.1fr;

}

/*.shift-text {*/
/*    padding-bottom: 10px;*/
/*}*/

.RaspHeader h2 {
    margin: 0.61111em 0 0.61111em 0.278em;
}

.RaspHeader p {
    margin: 0.75em 0;
}