.aud_rasp__item_aud {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: space-between;
}

.aud_rasp__item_info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.aud_pair__item_teacher {
    margin-top: 6px;
}

.aud_pair__item_subgroup {
    margin-top: 6px;
}

@media only screen and (min-width: 1224px) {
  .aud_rasp__item_info {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: unset;
  }

  .aud_rasp__item_info div + div {
    margin-left: 30px;
  }

  .aud_rasp__item_aud {
    flex-direction: column;
  }

  .aud_pair__item_subject {
    width: 455px;
    margin-bottom: unset;
  }

  .aud_pair__item_teacher {
    width: 160px;
    margin-top: unset;
  }

  .aud_pair__item_subgroup {
    margin-top: unset;
  }

  .aud_rasp__item_aud {
    width: 160px;
    margin-top: unset;
    text-align: end;
  }
}
