.SearchList {
    display: grid;
    gap: var(--items--gap);
}

.SearchList_item {
    padding: 16px 20px;
    border-radius: 4px;
    background-color: var(--green);
    cursor: pointer;
}

@media (min-width: 1224px), print {
    .SearchList_item {
        padding: 17px 20px;
    }
}