.NavigationBar {
    height: 45px;
    background-color: var(--current--theme--bg);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.NavigationBar a {
    padding: 0.75em 2.188em;
}

@media only screen and (min-width: 320px) and (max-width: 1224px) {
    .NavigationBar {
        border-top: 1px solid #429C97;
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 2;
    }
}