.MenuItem {
    display: grid;
    grid-template-rows: 1fr;
    background-color: #429C97;
    color: #FFFFFF;
    border-radius: 4px;
    margin-bottom: 10px;
    cursor: pointer;
}

.MenuItem-item {
    margin: 0;
    padding: 16px 0 16px 20px;
}

