.import {
    margin-top: 30px;
    max-width: 455px;
    display: grid;
    gap: 10px;
}

.import__content {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 0.1fr;
}

@media only screen and (min-width: 1224px) {
    .import {
        margin-top: 40px;
        gap: 20px;
    }
}